#pageTitle {
    margin: 0 auto;
    color: white;
}

html {
    box-sizing: border-box;
    overflow: hidden;
}

body {
    background: #fff;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5em;
    color: #888;
    min-width: 100vw;
    min-height: 100vh;
}

.menu {
    background-color: aqua;
    margin: 0;
    padding: 0;
}

.today {
    background-color: white;
}

.forecast {
    background-color: brown;
}